<header class="myheader">
    <h1>

      <a style="all: unset;" href="/">nodejs course</a>
    </h1>

    <nav>
      <ul class="parent">
        <li>
          <a href="/">
            ALL Courses
          </a>
        </li>
        <li><a href="../add-new-article">
            Add new article </a></li>
        <li id="dark" class="mode">Dark mode</li>
        <li><a href=""> Support Us </a></li>
      </ul>
    </nav>
  </header>