<%- include("./partials/head") %>


  <body id="body">
    <%- include("./partials/header") %>

    <main id="main">
      <section>
        <h1>Trending Articles &#128293;</h1>

        <div class="parent-of-articles">
          <%- include("./partials/article") %> 
        </div>
      </section>
    </main>

    <%- include("./partials/footer") %>
  </body>
</html>
